import * as jwt from 'jsonwebtoken';
import { Database } from './database';
import { Masterdata } from './masterdata';
import { Options } from './options';

export class Extensions {
{{#each extensions}}
  public static readonly {{@key}} = {{{this}}}
{{/each}}
}